
@{
}
<div>
    <h2> Customer Display</h2>
    <ul>
        <li><h5>Customer Id : @Model.customerid</h5></li>
        <li><h5>Customer Name : @Model.customername</h5></li>
        <li><h5>Gender : @Model.gender</h5></li>
        <li><h5>city : @Model.city</h5></li>
        <li><h5>Contact no : @Model.Contactno</h5></li>
    </ul>
</div>
